<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssrs.mapper.PayRecordMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ssrs.model.PayRecord">
        <id column="id" property="id" />
        <result column="payment_time" property="paymentTime" />
        <result column="payment_money" property="paymentMoney" />
        <result column="purchase_xinxi_id" property="purchaseXinxiId" />
        <result column="outtradeno" property="outtradeno" />
        <result column="pay_type" property="payType" />
        <result column="goods_detail" property="goodsDetail" />
        <result column="trade_number" property="tradeNumber" />
        <result column="content" property="content" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, payment_time, payment_money, purchase_xinxi_id, outtradeno, pay_type, goods_detail, trade_number, content
    </sql>

</mapper>
